Q1 In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* it is an expression

In [7]:
"hello"
type("hello")

str

hello is a string we can say a value

-87.8. value (integer)
- expression 
/ expression 
+ expression 
6 value (integer)

Q2 what is the difference between string and variable?
String is usually written in double quoatation . For eg a = "Ford Focus" 
Variable we don't require any double qoutation it can just be written normally and saved in the editor. Foe eg a = 10 , b =123 etc

q3 describe three data types. 
List - which are sequencial data type
Integeres - Numeric data type 
Float - Numeric type eg 123.1233
Booleans - True or False

q4 what is an expression made up of ? What do all expressions do ?
Expression are made up of variables, mathematical operators & operands which give some value at the end. Eg c = 40-25 
the result will be excuted and save with the variable name c = 15

q5 This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
spam = 10 
Expression is made up of values, containers, & mathematical operators
The statement is like a command that a python interpreter executes like print.

q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
ans 23

In [9]:
bacon = 22
bacon + 1

23

In [ ]:
q7 What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [11]:
'spam'+'spamspam'

'spamspamspam'

In [12]:
'spam'*3

'spamspamspam'

q8. Why is eggs a valid variable name while 100 is invalid?
Because if we give a variable name 100 it will show an error. It is not possible in python to give variable name as integer however we can give variable name as a string eg eggs or string-variable combination eg egg100 or eggs01

q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
for integer expression is - int()
for string expression is  - str()
for floating point number  expression is - float()

q10 Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [13]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

Ans - because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to do typecasting.
TypeError: can only concatenate str (not "int") to str